<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.7.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.7.min.js"></script>

</head>
<body>
<H1>Closing Price for Stock in the Last Month by Jacob Porter</H1>
Try the default value or your own ticker value.
<form action="/">
Ticker:<br>
  <input type="text" name="ticker"><br>
<input type="submit">
</form>


{{ ticker }}
<br>
{{ script|safe }}
{{ div|safe }}

<br>
{{ data }}

</body>
</html>

